<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <td>id</td>
            <td>nombre</td>
            <td>Permiso</td>
        </thead>
        <tbody>
            <tr th:each="rol: ${roles}">
                <td th:text="${rol.id}"></td>
                <td th:text="${rol.nombre}"></td>
                <td th:text="${rol.permiso}"></td>
                <td><a th:href="@{/rol/editar/} + ${rol.id}">Editar</a></td>
                <td><a th:href="@{/rol/eliminar/} + ${rol.id}" onclick= "return confirm('Esta seguro que desea eliminar el registro?')">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>